<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/menu.css"/>

        <% item.forEach(fitem => { %>
            <div id="item">
                <div class="image-holder">
                    <img src="<%= fitem.one %>" height="270" width="480">
                </div>

                <div class="item-name">
                    <% if(fitem.foodtype=='veg'){ %>
                        <img class="ftype-image" src="/images/veg-symbol.jpg" alt="veg" height="32" width="32"/>
                    <% }else{ %>
                        <img class="ftype-image" src="/images/nonveg.jpg" alt="veg" height="32" width="32"/>
                    <% } %>
                    <span><%= fitem.itemname %></span>
                </div>

                <div class="desc">
                    <span class="sdesc">Description:</span><br>
                    <p class="desc-text"><%= fitem.description %></p>
                    <div class="btn-box"><button type="button" class="sub"><%= fitem.price %>.00 Rs</button></div>
                </div>

            </div>

        <% }); %>


<%- include('../partials/footer') %> 